/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


.img2 {
    position: absolute;
    width: 100%;
    height: 100%;
}


body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #e5e5e5 40%, #14213d 100%);
}

@media (max-width: 750px) {
    .container form {
        overflow-y: scroll;
    }

    .container form::-webkit-scrollbar {
        display: none;
    }

    form .fields .input-field {
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field {
        width: 100%;
    }
}

:root {
    --body-color: #E4E9F7;
    --nav-color: #14213d;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}



body.dark {
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav {
    border: 1px solid #393838;

}

nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 10000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #fca311;
    text-decoration: none;
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before {
    opacity: 1;
}

.nav-bar .darkLight-searchBox {
    display: flex;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');



.main {
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 55%;
    right: 0%;
    transform: translate(-30%, -50%);
    width: 380px;
}

.profile-card {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 90%;
    border-radius: 25px;
    padding: 30px;
    border: 1px solid #14213d3b;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.image {
    position: relative;
    height: 150px;
    width: 150px;
}

.image .profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.data h2 {
    font-size: 33px;
    font-weight: 600;
}

span {
    font-size: 18px;
}

.row {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.row .info {
    text-align: center;
    padding: 0 20px;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.buttons .btn {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    padding: 8px 25px;
    border-radius: 25px;
    font-size: 18px;
    white-space: nowrap;
    background: #fca311
}

.buttons .btn:hover {
    box-shadow: inset 0 5px 20px #14213d;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.about {
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text {
    width: 540px;
    transform: translate(-70%, 10%);
}

.text h2 {
    left: 10%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 50px;
    letter-spacing: 1.2px;
    word-spacing: 0px;
    color: #000000;
    font-style: normal;
    font-variant: small-caps;

}

.text h5 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.text p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}

.text button,
.backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #14213d;
    transition: all 0.3s linear;
    cursor: pointer;
}

.text form .btnText {
    font-size: 14px;
    font-weight: 400;
}

.text button:hover {
    background-color: #fca311;
}

.text .image3 {
    left: 15%;
    position: relative;
    width: 50%;
}
a.btnText{
    font: inherit;
    color: #ffffff;
    font-size:  18px;
    text-decoration: none;
}